/images/uploads/thumbnails/1393177496stained-bamboo.jpg
/images/uploads/thumbnails/1393177496stained-maple.jpg
/images/uploads/tmp/1393177496stained-bamboo.jpg
/images/uploads/tmp/1393177496stained-maple.jpg

/images/uploads/thumbnails/13931919032001_charleston.jpg
/images/uploads/tmp/13931919032001_charleston.jpg
